/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  /* defined widths */
  --page-max-width: 80rem;
  --reading-max-width: 54rem;
  --narrow-max-width: 24em;

  /* primary fonts */
  --primary-font: system-ui, sans-serif;

  /* font weights */
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  /* general purpose colors */
  --background-color: #202020;
  --primary-font-color: #f7f7f7;

  /* tag colors */
  --tag-yellow: #d7fc03;
}

/* ==========================================================================
  CSS reset
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
  Primary components
  ========================================================================== */
body {
  max-width: 80rem;
  margin: 1em auto;
  padding: 0 1em;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

nav {
  display: flex;
}

nav a {
  margin: 0 1em 0 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0.85em;
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

span {
  color: var(--primary-font-color);
}

table {
  margin-top: 1em;
}

table {
  width: 100%;
  font-size: 0.85em;
  color: var(--primary-font-color);
  border-collapse: collapse;
}

th,
td {
  padding: 0.35em 0.25em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

form {
  margin-top: 1em;
}

input,
textarea {
  background-color: var(--background-color);
}

input,
button,
textarea {
  font-size: 1em;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  padding: 0.25em 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  box-sizing: border-box;
}

input:hover,
button:hover,
textarea:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

input:active,
button:active,
textarea:active {
  border: 1px solid var(--primary-font-color);
}

button {
  background-color: var(--background-color);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button:active {
  background-color: rgba(255, 255, 255, 0.25);
}

label {
  color: var(--primary-font-color);
}

/* ==========================================================================
  Buttons
  ========================================================================== */

.button-orange {
  background-color: #f36943;
}

.button-orange:hover {
  background-color: #ca5737;
}

.button-orange:active {
  background-color: #ad4b30;
}

/* ==========================================================================
  Login Form
  ========================================================================== */
.login {
  margin: 0 auto;
  max-width: 12em;
  text-align: center;
}

.login form input,
.login form button {
  width: 100%;
  margin: 0.65em 0 0 0;
}

/* ==========================================================================
  Add Like Form
  ========================================================================== */
.add-like form input {
  width: 12em;
  margin: 0 0.5em 0 0;
}

@media screen and (max-width: 32em) {
  .add-like form input,
  .add-like form button {
    display: block;
    width: 100%;
    max-width: 12em;
    margin: 0.65em 0 0 0;
  }
}

/* ==========================================================================
  Tags
  ========================================================================== */
.tag-yellow {
  padding: 0.25em 0.35em;
  font-size: 0.85em;
  color: var(--primary-font-color-inverted);
  background-color: var(--tag-yellow);
  border-radius: 0.25em;
}

/* ==========================================================================
  Post editor page
  ========================================================================== */
.post-editor input,
.post-editor textarea,
.post-editor button {
  margin-top: 1em;
}

.post-editor input[type="text"],
.post-editor textarea {
  display: block;
}

.post-editor button[type="button"] {
  margin-right: 0.5em;
}

.post-editor input[type="text"] {
  width: 100%;
  max-width: var(--narrow-max-width);
}

.post-editor textarea {
  width: 100%;
  height: 15em;
  max-width: var(--reading-max-width);
}
