/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  /* defined widths */
  --page-max-width: 80rem;

  /* primary fonts */
  --primary-font: system-ui, sans-serif;
  --primary-font-mono: system-ui-mono, monospace;
  --primary-font-color: #f7f7f7;

  /* font weights */
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  /* tag colors */
  --tag-yellow: #d7fc03;
}

/* ==========================================================================
  Primary components
  ========================================================================== */
body {
  max-width: 80rem;
  margin: 1em auto;
  padding: 0 1em;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-font-color);
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
}

pre code {
  display: block;
  margin-top: 1em;
  font-family: var(--primary-font-mono);
}

table {
  margin-top: 1em;
}

table {
  width: 100%;
  min-width: 50em;
  font-size: 0.85em;
  border-collapse: collapse;
}

th,
td {
  padding: 0.35em 0.25em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

form {
  margin-top: 1em;
}
